// Default Wrapper
.box-thumbnail {

}

// Article Styles
.box-thumbnail__article {

}

// Link Style
.box-thumbnail__link {

}

// Image Styles
.box-thumbnail__image {

}

.box-thumbnail__image--lightpink {
  background-color: #f2849e;
}

.box-thumbnail__image--lightblue {
  background-color: #7ecaf6;
}

.box-thumbnail__image--green {
  background-color: #7bd0c1;
}

.box-thumbnail__image--pink {
  background-color: #c75b9b;
}

.box-thumbnail__image--purple {
  background-color: #ae85ca;
}

.box-thumbnail__image--blue {
  background-color: #8499e7;
}


// Title
.box-thumbnail__title {

}

// Content
.box-thumbnail__content {

}
