<article class="{{random(["style1", "style2", "style3", "style4", "style5", "style6"])}}">
  <span class="image">
    {% include "@atoms/_img.twig" with {imageStyleName: "small" } %}
  </span>
  <a href="generic.html">
    <h2>{{title}}</h2>
    <div class="content">
      <p>{{text}}</p>
    </div>
  </a>
</article>
